.header {
  padding-top: $container-padding-x;

  .row {
    min-height: 100px;
  }
  &__card {
    padding: $container-padding-x;
    border-radius: 12px 12px 0 0;
    background-color: #dbcbbe;
    position: relative;
    z-index: 10;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      border-bottom: 1px solid #ffffff;
      bottom: 0;
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 0.125rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 400;
  }

  &__nav {
    background-color: #ffffff;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.1) 0 1px 2px -1px;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: $container-padding-x;

    img {
      height: 140px;
      width: 140px;
      border-radius: 50%;
    }
  }
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-child .nav-link:before {
    display: none;
  }
}

//.nav-divider {
//  position: relative;
//  &:before {
//    content: '';
//    position: absolute;
//    left: 0;
//    top: 0;
//    bottom: auto;
//    width: 1px;
//    height: 100%;
//    background: radial-gradient(ellipse at top, rgba(2, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 90%);
//  }
//}

.nav-link {
  color: #020000;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;

  .icon {
    font-size: 24px;
    margin-bottom: 0.125rem;
    color: rgba(2, 0, 0, 0.8);
  }
}

.align-items-center {
  align-items: center;
}
