header.header
	.container
		.header__card
			.row.align-items-center
				.col
					h1.header__title Тамазаева Хава Насрулаевна
					//-h2.header__subtitle Хирург гинеколог
				.col-4
					.header__img
						+img("avatar.jpg")

		//-.header__nav
			.container
				ul.nav
					li.nav-item
						a.nav-link(aria-current="page" href="#")
							+icon("doctor")
							span О докторе

					li.nav-divider
					li.nav-item
						a.nav-link(aria-current="page" href="#")
							+icon("consultation")
							span Консультации
					li.nav-divider
					li.nav-item
						a.nav-link(aria-current="page" href="#")
							+icon("surgery")
							span Операции
					li.nav-divider
					li.nav-item


						a.nav-link(aria-current="page" href="#")
							+icon("сontact")
							span Контакты

		block header

