.about {

  &__card {
    padding: $container-padding-x;
    border-radius: 0 0 5px 5px;
    background-color: #dbcbbe;
    position: relative;
  }

  ul {
    margin-bottom: 0;
  }
  li {
    padding: 2px 0;
    display: flex;
  }

  &__list {
    padding: $container-padding-x;
    border-radius: 10px;
    background-color: #f3f2f1;
  }

  &__item-icon {
    padding-right: 3px;
  }
}

.contact {
  &__col {
    &:first-child {
      padding-right: $container-padding-x/2;
    }
    &:last-child {
      padding-left: $container-padding-x/2;
    }
  }

  &__item {
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.1) 0 1px 2px -1px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 6px 14px;
    color: #fb8b0a;
    a {
      color: rgba(36, 34, 47, 1);
      text-decoration: none;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
  }
}

.operation {
  padding-bottom: $container-padding-x;
}
