.about {

  &__card {
    padding: $container-padding-x;
    border-radius: 0 0 14px 14px;
    background-color: $color-s;
    position: relative;
  }

  ul {
    margin-bottom: 0;
  }
  li {
    padding: 2px 0;
    display: flex;
  }

  &__list {
    padding: $container-padding-x;
    border-radius: 10px;
    background-color: #f3f2f1;
  }

  &__item-icon {
    padding-right: 3px;
  }
}

.contact {
  &__col {
    margin-bottom: $container-padding-x;

    @include media-breakpoint-up(sm) {
      &:first-child {
        padding-right: $container-padding-x/2;
      }
      &:last-child {
        padding-left: $container-padding-x/2;
      }
    }
  }

  &__item {
    background-color: $color-s;
    border-radius: 10px;
    padding: 6px 14px;
    color: rgba(36, 34, 47, 1);
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;

    &:hover, &:focus {
      color: rgba(36, 34, 47, 0.8);
    }

    .icon {
      font-size: 26px;
      margin-right: 8px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
  }
}

.operation {
  padding-bottom: $container-padding-x;
}
