.layout {
  display: flex;
  background-color: #eff2f7;
  flex-direction: column;
  &-wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &-navbar {
    padding: 0;
  }
}

.section {
  padding-top: $container-padding-x;

  &__card {
    padding: $container-padding-x;
    border-radius: 14px;
    background-color: #dbcbbe;
  }
}

.link__graphic {
  position: absolute;
  top: -8px;
  left: 0;
  pointer-events: none;
  fill: none;
  stroke: #fb8b0a;
  stroke-width: 1px;
  width: 95px;
}

@import "https://unpkg.com/swiper/swiper-bundle.min.css";

.swiper {
  width: 100%;

  &__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    margin: 0 -#{$container-padding-x}  1rem;
    padding: 0 #{$container-padding-x / 2} #{$container-padding-x - 0.25rem};
  }
}

.swiper-slide {
  font-size: 18px;
  padding: $container-padding-x;
  border-radius: 12px;
  background-color: #f3f2f1;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  height: auto;

  ul {
    padding-left: 22px;
    list-style-type: decimal;
  }
  li {
    padding: 2px 0;
    //background: url(../img/target.svg) no-repeat;
    //padding-left: 20px;
    //background-size: 14px;
    //background-position: 0px 6px;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    bottom: -3px;
    right: -3px;
    left: -3px;
    background-color: transparent;
  }
}
