.layout {
  display: flex;
  background-color: #eff2f7;
  flex-direction: column;
  &-wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &-navbar {
    padding: 0;
  }
}

.section {
  padding-top: $container-padding-x;

  &__card {
    padding: $container-padding-x;
    border-radius: 5px;
    background-color: #dbcbbe;

    &-body {
      padding: $container-padding-x;
      border-radius: 10px;
      background-color: #f3f2f1;
    }
  }
}

.link__graphic {
  position: absolute;
  top: -8px;
  left: 0;
  pointer-events: none;
  fill: none;
  stroke: #fb8b0a;
  stroke-width: 1px;
  width: 95px;
}
